*{
  background-color:#D6001C;
  color:white;
}#image{
  display:block;
  max-width:100%;
  height:auto;
  justify-content: center;
}
#title{
  text-align:center;
}
h3{
  display:flex;
  justify-content:center;
}
@media (min-width:768px){
  body{
  font-size: 80px;
  padding:40px 40px 40px 40px;
}
}

